@import "./pico-react.scss";

html {
  @media (min-width: 768px) {
    body > header,
    body > div[id] header,
    body > main,
    body > div[id] main,
    body > footer,
    body > div[id] footer {
      max-width: 700px;
    }
  }
}

main {
  padding: 2rem;
}

#theme-switch {
  position: relative;
  width: fit-content;
  height: fit-content;
  touch-action: pan-x;
  user-select: none;
}
#theme-switch input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
#theme-switch .switch-track {
  background-color: #4d4d4d;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  transition: all 0.2s ease 0s;
}
#theme-switch .switch-check,
#theme-switch .switch-x {
  bottom: 0px;
  height: 10px;
  top: 0px;
  position: absolute;
  margin: auto 0px;
}
#theme-switch .switch-check {
  left: 8px;
  opacity: 0;
  width: 14px;
  transition: opacity 0.25s ease 0s;
}
#theme-switch .switch-x {
  right: 15px;
  width: 10px;
  opacity: 1;
  transition: opacity 0.25s ease 0s;
}
#theme-switch .switch-icon {
  align-items: center;
  display: flex;
  height: 5px;
  justify-content: center;
  width: 16px;
}
#theme-switch .switch-thumb {
  background-color: #fafafa;
  height: 22px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 22px;
  border-width: 1px;
  border-style: solid;
  border-color: #4d4d4d;
  border-image: initial;
  border-radius: 50%;
  transition: all 0.25s ease 0s;
}
#theme-switch:hover .switch-thumb {
  box-shadow: 0 0 2px 3px var(--bs-primary);
}
[data-theme] #theme-switch .switch-check {
  opacity: 1;
}
[data-theme] #theme-switch .switch-x {
  opacity: 0;
}
[data-theme] #theme-switch .switch-thumb {
  left: 31px;
}
// [data-theme] #theme-switch .switch-track {
//   background-color: #9f9f9f;
// }
