@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background 0.25s ease, color 0.25s ease;
}

@layer base {
  :root {
    --bg-default: 255, 255, 255;
    --bg-neutral: 238, 238, 238;

    --text-default: 44, 51, 51;
    --text-neutral: 209, 213, 219;

    --primary-color: 58, 152, 185;
    --secondary-color: 255, 241, 220;
    --tertiary-color: 232, 213, 196;
  }

  html[data-theme="dark"] {
    // --bg-default: 27, 36, 48;
    --bg-default: 44, 51, 51;
    --bg-neutral: 69, 60, 103;

    --text-default: 255, 255, 255;
    --text-neutral: 209, 213, 219;

    --primary-color: 57, 91, 100;
    --secondary-color: 165, 201, 202;
    --tertiary-color: 231, 246, 242;
  }
}
